.hr{
    color: gray;
    height: 5px;
}
.common p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
   
 
 }
 
.bottom-content{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);

}  
